{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Neverlate</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/handlebars-v1.3.0.js' %}"></script>
    <script src="{% static 'js/Neverlate.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.86498.js' %}"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    {% block head %}{% endblock %}
</head>

<body>
<header>
    <nav role="navigation" class="navbar navbar-default">
        <div>
            <div id="topic">
                <a class="h1" href="/">Neverlate &ndash; Life is too short to be late!</a>
            </div>
            {% if not user.is_authenticated %}
                <ul class="navbar-nav navbar list-inline" id="links">
                    <li>
                        <a class="navigation-item btn" href="{% url 'allaccess-login' 'facebook' %}">Fabo login</a>
                    </li>
                    <li>
                        <a class="navigation-item btn" href="{% url 'django.contrib.auth.views.login' %}">Log in</a>
                    </li>
                    <li>
                        <a class="navigation-item btn" href="{% url 'neverlate.views.register' %}">Register</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav navbar list-inline" id="links">
                    <li>
                        <a class="navigation-item btn" href="{% url 'neverlate.views.profile' %}">My Profile</a>
                    </li>
                    <li>
                        <a class="navigation-item btn" href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>

<section>{% block content %}{% endblock %}</section>

<footer class="navbar-fixed-bottom">
    <div id="footer-text">
        Neverlate &copy; Webbi-Jaska Productions ltd.
    </div>
</footer>


</body>
</html>
