{% extends "base.html" %}

{% block title %}Your Profile{% endblock %}

{% block content %}
    <div id="album-form">
        {% if not authenticated %}
            <p>Not logged in. Please <a href="{% url "django.contrib.auth.views.login" %}">log in</a> to see your user profile.</p>
        {% else %}
            <h1>Your User Profile</h1>
            <p><a href="{% url "django.contrib.auth.views.password_change" %}">Change password</a></p>
            <form action="" method="post">
                {% csrf_token %}
                {% if was_saved %}
                    <div class="alert alert-success">Changes successfully saved.</div>
                {% endif %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" class="btn btn-default" value="Save" />
                <input type="reset" class="btn btn-default" value="Reset" />
            </form>
        {% endif %}
    </div>
{% endblock %}